Repository Ernxst/subfont, changes with the labels that .github/labeler.yml gives for each.
All labels: example, ðŸš¨ action, test

fix: update lockfile
  pnpm-lock.yaml
Labels: none

fix(ci): copy README to `packages/core` in action
  .github/workflows/release.yml
  .husky/pre-commit
Labels: ðŸš¨ action

perf(ci): do not install deps for example packages
  .github/actions/deps/action.yml
Labels: none

chore: add changeset
  .changeset/soft-pillows-hug.md
Labels: none

fix: read from `index.html` only
  packages/core/src/plugin-common.ts
Labels: none

chore: add changeset
  .changeset/young-ligers-impress.md
Labels: none

chore(deps): use published package version instead of workspace
  examples/astro/package.json
  examples/vite/package.json
  examples/webpack/package.json
  pnpm-lock.yaml
Labels: example

feat: add script to build astro example
  package.json
Labels: none

fix: use `path.join` to build paths; add log statements
  .changeset/sweet-parents-yell.md
  packages/core/src/file.ts
  packages/core/src/plugin-common.ts
Labels: none

feat: add cli args to `glyphhanger`
  .changeset/orange-tips-pump.md
  packages/core/src/plugin-common.ts
Labels: none

fix: use glob pattern to find `.html` files
  .changeset/chilly-emus-approve.md
  packages/core/src/plugin-common.ts
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

example:
- examples/**/*

'ðŸš¨ action':
- .github/workflows/**

test:
- packages/**/*.test.js
